*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#form{
    width: 250px;
    padding-bottom: 1em;
    background-color: #7fbcbd;
    display: flex;
    flex-direction: column;
    padding: 1em;
    display: none;
    position: relative;
    top: 45%;
    left: 40vw;
    border: 2px solid black;
}

#form button{
  padding: 0.5em;
  background-color: #abd03e;
  color: white;
}
#cancel{
   background-color: #ff6776!important;
} 
#form input{
  width: 200px;
  margin-bottom: 0.5em;
}
#form div{
  display: flex;  
  flex-direction: column;
}
#form div:last-child{
  flex-direction: row;
}
#form div:last-child label{
  margin-right: 1em;
  margin-bottom: 0.5em;
}
#form div:last-child input{
  width: 20px;
}
header h1{
 
  font-weight: 800;
  width: 80%;
  margin: auto;
  margin-top: 0.5em;
  text-align: center;
}
body{
  background-image: url(Images/cute-books-seamless-background-text-44087345.jpg);
  background-size: 500px;
  font-family: 'Poppins', sans-serif;
}
#books{
  justify-content: left;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;

}

.book{
    background-color: #a190ba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30vh;
    margin-left: 2em;
    margin-bottom: 2em;
    box-shadow:2px 1px 2px 1px black;
}
.book h1{
  font-size: 1.3em;
  font-weight: 500;
}
.book:nth-child(2n){
  background-color: #f1bd5a;
}
.book.book:nth-child(3n){
  background-color: #7fbcbd;
}
.book button{
  padding: 0.5em;
  margin-top: 10px;
  background-color: #ff6776;
  color: white;
}
.book div{
  display: flex;
  padding-right:1em;
}
.book div h1{
  margin-right: 0.3em;
}
#buttons{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0%;
  top:88%
}
#buttons button{
  padding: 0.9em;
  color: white;
  background-color:#abd03e;
}
#buttons button:nth-child(2){
 
  background-color: #ff6776;
}

.delete{
    display: none;
}
/* Hide default input */
.toggle input {
    display: none;
  }
  
  /* The container and background */
  .toggle {
    position: relative;
    display: inline-block;
    width: 68px;
    height: 30px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6776;
    border-radius: 30px;
    transition: all 0.4s;
  }
  
  /* The sliding button */
  .slider:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 2px;
    top: 2px;
    background-color: #eee;
    border-radius: 24px;
    transition: all 0.4s;
  }
  
  /* On checked */
  input:checked + .slider {
    background-color: #abd03e;
  }
  input:checked + .slider:before {
    transform: translateX(37px);
  }